<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Visual App</title>
    <link rel="stylesheet" href="../static/css/index.css">
</head>
<body>
    <div class="header">
        <div class="hero">
            <h1>Sorting Algorithms</h1>
            <p>By default we will begin with a selection sort and generate a random array of 20 items to be sorted</p>
            <form method="post">
                <select name="algorithm">
                    <option value="{{type}}">{{type}}</option>
                    <option value="selection">Selection Sort</option>
                    <option value="bubble">Bubble Sort</option>
                    <option value="quick">Quick Sort</option>
                    <option value="merge">Merge Sort</option>
                </select>
                <input type="number" name="count" value="{{count}}">
                <input type="submit" value="Start">
            </form>
        </div>
    </div>
    <h2>After sorting</h2>
    <div class="table" id="table"></div>
    <h2>Before sorting</h2>
    <div class="table">
        {% for i in func[0] %}
            <div class="item" style="--item-height: {{i/func[1]*100}}%">
                {{i}}
            </div>
        {% endfor %}
    </div>
    
<script>
    // We might need loops to pause on iterations
    const wait = (ms) =>{ new Promise( resolve => setTimeout(resolve,ms))}
    
    //Let us select our table
    const table = document.getElementById('table')
    //Lets get our data from python
    let max = `{{func[1]}}` // largest number in array
    let data = `{{func[0]}}` // Full array

    //Parse our data into usable forms
    max=parseInt(max)
    data=JSON.parse(data)


    // All algorithms will stored within algo variable dict
    let algo = {
        //Start of Selection sort
        selectionSort: (data)=>{
            let index=0
            let finalMinIndex
            let finalMin
            let currMin
            let length = data.length
            
            // We might need loops to pause on iterations
            //loop through each item first
            for (let iter=0; iter<length; iter++) {
                let current = data[iter]
                finalMin=undefined
                currMin=undefined
                index++
                // compare item in current iteration with all items to its right
                for(let i=index; i<length; i++){
                    if(current>data[i]){
                        currMin=data[i]
                        if(finalMin==undefined || finalMin>currMin){
                            finalMin=currMin
                            finalMinIndex=i
                        }
                        // console.log(current, ' iter: ',iter, 'data: ',data[i])
                    }
                }

                //We have now iterated through all items for a target
                if(finalMin!=undefined){
                    // console.log( data[finalMinIndex]," : ",data[index] )
                    data[finalMinIndex]=data[iter]
                    data[iter]=finalMin
                    // console.log(data)

                    //Code below will update the table
                    let html =''
                    for(let iter1=0; iter1<data.length; iter1++){
                        html=html+`
                        <div class="item ${iter1==iter?'active':''} ${iter1==finalMinIndex?'touch':''}" style="--item-height: ${data[iter1]/max*100}%">
                            ${data[iter1]}
                            </div>
                            `
                    }
                    //set timeout
                    setTimeout(() => {
                        table.innerHTML=html
                    }, 200*iter);

                    //lets add a pause os we can let the user intface notice the iterations
                    setTimeout(() => {
                        updateTable(data)  
                    }, 2000);
                    
                    // updateTable(i,data)

                }
                
                //lets update the data on every iteration
            }
        },
        //EOF Selection Sort

        //Start of Bubble Sort
        bubbleSort: (data) => {
            var length=data.length
            var swapped=true;
            var t=0

            //Let us track the number of steps. It is also useful for recreating a timeline
            var step=0

            while(swapped==true){
                swapped=false
                for(var index=0; index<length-1; index++){
                    step++
                    // console.log(i)
                    var left=index
                    var right=index+1
                    if(data[left]>data[right]){
                        var temp=data[left]
                        data[left]=data[right]
                        data[right]=temp
                        swapped=true
                    }

                }
            }
        },
        // EOF Bubble sort

        //Start of Merge sort
        mergeSort: (data) => {
            var step=0
            var unsorted_list=data
            // Divide and conquer

            //Lets use a self calling function to divide the array into subarrays
            function mergeSort(array, left_index, right_index) {   

                if(left_index>=right_index){
                    return
                }
                
                // when we parse it will always round off to the value to the lower decimal so when array length isFinite
                // odd the left side will be n-1 and right n
                var mid = parseInt((left_index + right_index) / 2);
                console.log(`left_index ${left_index} right_index ${right_index}`)
                
                // repeat mergesort for the two sub arrays
                step++
                mergeSort(array, left_index, mid)  
                mergeSort(array, mid + 1, right_index)  

                
                // Left Sub division
                var left_arr = array.slice(left_index, mid+1);
                // right sub division
                var right_arr = array.slice(mid+1, right_index+1);
                
                // Create indexes to traverse sub arrays
                var left_arr_index = 0  
                var right_arr_index = 0  

                // Lets set the final sort index to be used in each iteration
                var final_index = left_index  

                // Lets not merge until we have individual items in the array. one side may be undefined
                // console.log(array)
              
                // Note that in some cases the left sub array will be shorter
                while(left_arr_index < left_arr.length && right_arr_index < right_arr.length){

                    // Lets start sorting elements in the two sub arrays
                    
                    // If item in one array is smaller lets append that item and move its counter
                    if(left_arr[left_arr_index] <= right_arr[right_arr_index]){
                        
                        array[final_index] = left_arr[left_arr_index]  
                        left_arr_index += 1  
                    }
                    else{
                        array[final_index] = right_arr[right_arr_index]  
                        right_arr_index += 1
                    }  
                    // Move final pointer over
                    final_index += 1  
                }  

                // Due to the conditional statement above not all items will be appended in the final array.
                // Lets add the left over items below
                while(left_arr_index < left_arr.length){
                    array[final_index] = left_arr[left_arr_index]  
                    left_arr_index += 1  
                    final_index += 1  
                }  
            
                while(right_arr_index < right_arr.length){
                    array[final_index] = right_arr[right_arr_index]  
                    right_arr_index += 1  
                    final_index += 1  
                }  
                var html=''
                step++
                for(let iter=0; iter<array.length; iter++){
                    html=html+`
                    <div class="item ${iter>=left_index&&iter<=mid?'active':''} ${iter<=right_index&&iter>=mid?'active':''}" style="--item-height: ${array[iter]/max*100}%">
                        ${array[iter]}
                    </div>
                    `
                    //set timeout
                }
                setTimeout(() => {
                    table.innerHTML=html
                }, 300*step);
            }   



            html =''
            for(let iter=0; iter<unsorted_list.length; iter++){
                html=html+`
                <div class="item" style="--item-height: ${unsorted_list[iter]/max*100}%">
                    ${unsorted_list[iter]}
                </div>
                `
                //set timeout
            }
            table.innerHTML=html
           

            console.log(`start merge sort on ${unsorted_list}`);
            mergeSort   (unsorted_list, 0, unsorted_list.length-1);
            console.log("");
            console.log(`done sorting: ${unsorted_list}`);
            step++
            console.log(step)
            
           
        },  
        //EOF Merge sort

        //Start of Quick Sort
        quickSort: (data)=>{
            var step = 0
            var unsorted_list;
            unsorted_list = data
            
            function quick_sort(array, low, high) {
            var left, pivot, right;

            if (low < high) {
                pivot = array[high];
                left = low;
                right = high - 1;
                
                while (left <= right) {
                    
                    if (array[left] < pivot) {
                        left += 1;
                        step++
                            //Code below will update the table
                            let html =''
                            for(let iter=0; iter<unsorted_list.length; iter++){
                                html=html+`
                                <div class="item ${iter==high?'pivotActive':''} ${iter>high?'inActive':''} ${iter==left||iter==right?'indexActive':''} ${iter<low+1?'leftActive':''}  ${iter>low+1?'rightActive':''} " style="--item-height: ${unsorted_list[iter]/max*100}%">
                                    ${unsorted_list[iter]}
                                </div>
                                `
                                //set timeout
                            }
                            setTimeout(() => {
                                table.innerHTML=html
                            }, 60*step);
                    }
                    else if (array[right] >= pivot) {
                            right -= 1;
                            step++
                            //Code below will update the table
                            let html =''
                            for(let iter=0; iter<unsorted_list.length; iter++){
                                html=html+`
                                <div class="item ${iter==high?'pivotActive':''} ${iter==left||iter==right?'indexActive':''} ${iter<low+1?'leftActive':''}  ${iter>low+1?'rightActive':''} " style="--item-height: ${unsorted_list[iter]/max*100}%">
                                    ${unsorted_list[iter]}
                                </div>
                                `
                                //set timeout
                            }
                            setTimeout(() => {
                                table.innerHTML=html
                            }, 60*step);
                        } 
                        else
                        {
                            [array[left], array[right]] = [array[right], array[left]];
                        }
                    


                }

                [array[left], array[high]] = [array[high], array[left]];
                if(low<high){
                    quick_sort(array, 0, left - 1);
                    quick_sort(array, left + 1, high);
                }
            }
            }
            
            quick_sort(unsorted_list, 0, unsorted_list.length - 1);
            console.log("array:"  + unsorted_list)

        }
        //EOF Quick Sort
    }
    //EOF algo

function updateTable(i,data) {
    let table = document.getElementById('table')
    let html=''
    
    for(let iter1=0; iter1<data.length; iter1++){
        html=html+`
        <div class="item" style="--item-height: ${data[iter1]/max*100}%">
            ${data[iter1]}
            </div>
            `
    }
    table.innerHTML=html
        
}

function startAlgo(type){
    if(type=='selection')
    {
        algo.selectionSort(data)
    }
    else if(type=='bubble')
    {
        algo.bubbleSort(data)
    }  
    else if(type=='merge')
    {
        algo.mergeSort(data)
    }    
    else if(type=='quick')
    {
        algo.quickSort(data)
    }


}

startAlgo(`{{type}}`)
    
</script>
</body>
</html>
