<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Visual App</title>
    <link rel="stylesheet" href="../static/css/index.css">
</head>
<body>
    <div class="header">
        <form method="post">
            <select name="algorithm" id="">
                <option value="Bubble Sort">Bubble Sort</option>
                <option value="Bubble Sort">Selection Sort</option>
                <option value="Bubble Sort">Quick Sort</option>
                <option value="Bubble Sort">Merge Sort</option>
            </select>
            <input type="number" name="count" value={{count}}>
            <input type="submit">
        </form>
    </div>
    <h1>{{func[1]}}</h1>
    <div class="table">
        {% for i in func[0] %}
            <div class="item" style="--item-height: {{i/func[1]*100}}%">
                {{i}}
            </div>
        {% endfor %}
    </div>

    
    <div class="table" id="table">
    </div>
<script>

//Lets get our data from python
let max = `{{func[1]}}` // largest number in array
let data = `{{func[0]}}` // Full array

//Parse our data into usable forms
max=parseInt(max)
data=JSON.parse(data)


// All algorithms will stored within algo variable dict
let algo = {
    selectionSort: (data)=>{
        let index=0
        let finalMinIndex
        let finalMin
        let currMin
        let length = data.length
        
        // We might need loops to pause on iterations
        const wait = (ms) =>{ new Promise( resolve => setTimeout(resolve,ms))}
        //loop through each item first
        for (let iter=0; iter<length; iter++) {
            let current = data[iter]
            finalMin=undefined
            currMin=undefined
            index++
            // compare item in current iteration with all items to its right
            for(let i=index; i<length; i++){
                if(current>data[i]){
                    currMin=data[i]
                    if(finalMin==undefined || finalMin>currMin){
                        finalMin=currMin
                        finalMinIndex=i
                    }
                    // console.log(current, ' iter: ',iter, 'data: ',data[i])
                }
            }
            //We have not iterated through all items for a target
            if(finalMin!=undefined){
                // console.log( data[finalMinIndex]," : ",data[index] )
                data[finalMinIndex]=data[iter]
                data[iter]=finalMin
                let newData=data


                setTimeout(function() {
                    function test (newData){
                        console.log(newData)
                    }
                    test(data)
                    updateTable(iter,data);
                }, 200 * iter);

            }
            
            //lets update the data on every iteration
        }
    },
    bubbleSort: ()=>{

    }   
}

function updateTable(i,data) {
    let table = document.getElementById('table')
    let html=''
    
    for(let iter1=0; iter1<data.length; iter1++){
        html=html+`
        <div class="item" style="--item-height: ${data[iter1]/max*100}%">
            ${data[iter1]}
            </div>
            `
        }
        table.innerHTML=html
        
}

function startAlgo(type){
    type='bubble'
    if(type=='bubble'){
        algo.selectionSort(data)
    }
}

startAlgo()
    
</script>
</body>
</html>